body {
    background-color: #F3DBFB;
    font-family: monospace;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
img {
    display: block;
    margin: auto;
}

h1 {
    color: purple;
    font-family: monospace;
    text-align: center;
}
